* {
    box-sizing: border-box;
}

body, html {
    height: calc(100% - 2em);
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,a92551+0,ce0000+100 */
background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(45deg, #1e5799 0%, #a92551 0%, #ce0000 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #1e5799 0%,#a92551 0%,#ce0000 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #1e5799 0%,#a92551 0%,#ce0000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#ce0000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
background-attachment: fixed;
background-repeat: no-repeat;
}

.sidebar {
    color: #fff;
    display: grid;
    grid-template-columns: auto 40px;
    padding: 2em;
}

img {
    width: 40px;
    cursor: pointer;
}

figure {
    margin: 0;
}

figcaption {
    font-size: 1.3em;
    font-weight: bold;
}

nav {
    background: #fff;
}

.active {
    position: absolute;
    display: block;
    background: #fff;
    width: 50%;
    top: 0;
    left: 0;
    height: 100%;
}

ul {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li a {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8em;
    display: block;
    padding: 1.5em 3em;
    background-color: rgba(255,255,255,.35);
}

.content {
    background: #fff;
    padding: 1em 1.4em;
}

h1 {
    margin: 0;
}

p {
    font-size: 1em;
    line-height: 1.5em;
}

.btn {
    display: block;
    color: #fff;
    background: #FF6666;
    text-decoration: none;
    padding: 8px 50px;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
    margin: 2em 0;
    transition: all .1s ease-in-out;
}

.btn:hover {
    background: #ff6666c9;
}

@media only screen and (min-width: 768px) {
    body {
        display: grid;
        grid-template-columns: 20% auto;
        padding: 2em;
    }

    img {
        display: none;
    }
    .sidebar, .content {
        box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.16);
        height: 110%;
    }

    .sidebar {
        background: #E9CFD3;
        grid-template-columns: auto;
        grid-template-rows: 20% auto;
        padding: 0;
    }

    .content {
        padding: 4em;
        background: #fff url('../images/curve.svg') no-repeat bottom right;
        background-size: 60%;
    }

    #avatar {
        border-radius: 50%;
        background: #fff;
        width: 50px;
        height: 50px;
        margin: 2em auto 1em auto;
    }

    figcaption {
        text-align: center;
        color: #000;
    }

    ul {
        display: block;
        margin-top: 2em;
        position: relative !important;
        background: none !important;
        width: 100% !important;
    }

    ul li a:hover {
        background-color: #fff;
    }

    nav {
        background: none;
    }

    .btn {
        display: inline-block;
        font-size: 1.3em;
        padding: .8em 3em;
    }

    h1 {
        font-size: 3em;
        margin-top: 2em;
    }

    p {
        font-size: 1.5em;
    }
}